.footer-copyright-area
    .container-fluid
      .row
        .col-lg-12
          .footer-copy-right
            p
              | Copyright &copy; 2018 
              a(href='https://colorlib.com/wp/templates/') Colorlib
              |  All rights reserved.