extends layout

block content
  // Start Banner Area
  section.banner-area.organic-breadcrumb
    .container
      .breadcrumb-banner.d-flex.flex-wrap.align-items-center.justify-content-end
        .col-first
          h1 Quên mật khẩu
          nav.d-flex.align-items-center
            a(href='home.html')
              | Trang chủ
              span.lnr.lnr-arrow-right
            a(href='login.html')
              | Đăng nhập/đăng ký
              span.lnr.lnr-arrow-right
            a(href='#') Quên mật khẩu
  // End Banner Area
  
  // Start Register Box Area
  section.login_box_area.section_gap
    .container
      .row
        .col-lg-12
          .login_form_inner
            h3 Tìm tài khoản của bạn
            p Vui lòng nhập email để tìm kiếm tài khoản.
            form#contactForm.row.login_form(action='#', method='POST')
              if typeof(errors)!='undefined'
                  each error in errors
                    .col-md-12.form-group
                      .alert.alert-danger
                        | #{error}
              .col-md-12.form-group
                input#name.form-control(type='email', name='email', placeholder='Nhập địa chỉ email', value=(typeof(values)!='undefined') ? values.email : '')
              .col-md-12.form-group
                button.primary-btn(type='submit', value='submit') Gửi
  // End Register Box Area