extends layout

block content
  // Start Banner Area
  section.banner-area.organic-breadcrumb
    .container
      .breadcrumb-banner.d-flex.flex-wrap.align-items-center.justify-content-end
        .col-first
          h1 Làm mới mật khẩu
          nav.d-flex.align-items-center
            a(href='home.html')
              | Trang chủ
              span.lnr.lnr-arrow-right
            a(href='login.html')
              | Đăng nhập/đăng ký
              span.lnr.lnr-arrow-right
            a(href='forgot-password.html')
              | Quên mật khẩu
              span.lnr.lnr-arrow-right
            a(href='#') Làm mới mật khẩu
  // End Banner Area
  
  // Start Register Box Area
  section.login_box_area.section_gap
    .container
      .row
        .col-lg-12
          .login_form_inner
            h3 Làm mới mật khẩu
            form#contactForm.row.login_form(action='#', method='POST')
              if typeof(errors)!='undefined'
                  each error in errors
                    .col-md-12.form-group
                      .alert.alert-danger
                        | #{error}
              if success_msg!=''
                .col-md-12.form-group
                  .alert.alert-success
                    | #{success_msg}
              .col-md-12.form-group
                input#name.form-control(type='password', name='password1', placeholder='Mật khẩu mới', value=(typeof(values)!='undefined') ? values.password1 : '')
              .col-md-12.form-group
                input#name.form-control(type='password', name='password2', placeholder='Nhập lại mật khẩu mới', value=(typeof(values)!='undefined') ? values.password2 : '')
              .col-md-12.form-group
                button.primary-btn(type='submit', value='submit') Làm mới
  // End Register Box Area