extends layout

block content
  .breadcome-area
    .container-fluid
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          .breadcome-list
            .row
              .col-lg-6.col-md-6.col-sm-6.col-xs-6
                .breadcomb-wp
                  .breadcomb-icon
                    i.icon.nalika-home
                  .breadcomb-ctn
                    h2 Thêm nhãn hiệu
              .col-lg-6.col-md-6.col-sm-6.col-xs-6
                .breadcomb-report
                  button.btn(data-toggle='tooltip', data-placement='left', title='Tải báo cáo')
                    i.icon.nalika-download
  .single-product-tab-area.mg-b-30
    .single-pro-review-area
      .container-fluid
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .review-tab-pro-inner
              ul#myTab3.tab-review-design
                li.active
                  a(href='#description')
                    i.icon.nalika-edit(aria-hidden='true')
                    |  Thông tin nhãn hiệu
              #myTabContent.tab-content.custom-product-edit
                #description(class='product-tab-list tab-pane fade active in')
                  .row
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                      form(action='#', method='POST')
                        if typeof(errors)!='undefined'
                          each error in errors
                            .alert.alert-danger
                              | #{error}
                        if success_msg!=''
                          .alert.alert-success
                            | #{success_msg}
                        .input-group.mg-b-pro-edt
                          span.input-group-addon
                            i.icon.nalika-edit(aria-hidden='true')
                          input.form-control(type='text', placeholder='Tên nhãn hiệu', name='name', value=(typeof(values)!='undefined') ? values.name : '')
                        .text-center.custom-pro-edt-ds
                          button.btn.btn-ctl-bt.waves-effect.waves-light.m-r-10(type='submit', value='submit')
                            | Thêm